/*Promo Bar*/
.promo_bar {
  background-color: var(--highlight-color);
  color: white;
  height: 31px;
  font-size: 15px;
}
.time_left p {
  font-weight: 700;
}
.time_left span {
  font-size: 10px;
  margin: 5px;
}
/*Info bar*/
.info_bar {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-2);
  border-bottom: 1px solid rgba(229, 231, 235, 1);
}
.info_bar a,
.info_bar select {
  color: var(--text-color-2);
}

/*Nav Bar*/
.logo {
  width: 3%;
}

.delivery,
.account {
  font-size: 13px;
}
.sign_in {
  font-size: 11px;
}

/*Search bar*/
.search_bar input {
  background-color: rgba(243, 244, 246, 1);
  border-radius: 8px 0 0 8px;
}
.search_bar button {
  background-color: rgba(243, 244, 246, 1);
  border-radius: 0 8px 8px 0;
  border: 1px solid #dddddd;
}
/*Side bar*/
.home_bar {
  border-bottom: 1px solid rgba(229, 231, 235, 1);
}

.cat_list li {
  color: var(--text-color-1);
  font-weight: 400;
}
.home_navbar a {
  position: relative;
  color: var(--text-color-1);
  font-weight: 500;
}
.home_navbar a:after {
  content: "";
  position: absolute;
  background-color: var(--highlight-color);
  height: 2px;
  border-radius: 10px;
  width: 0%;
  top: 2.6em;
  right: 1px;
}
.home_navbar a:hover {
  color: var(--highlight-color);
}
.home_navbar a:hover::after {
  width: 100%;
  color: var(--highlight-color);
}
.home_navbar a.active {
  color: var(--highlight-color);
}
.home_navbar a.active::after {
  width: 100%;
}
/* Special hover styling for 'Almost Finished' */
.home_navbar a.sale {
  color: red; /* Default color for special link */
}

.home_navbar a.sale::after {
  background-color: red; /* Underline default color for special link */
}

.home_navbar a.sale:hover::after {
  background-color: red; /* Underline hover color for special link */
  width: 100%; /* Full underline width */
}

.all_cat {
  border: 1px solid rgba(229, 231, 235, 1);
  border-bottom: none;
  height: 2.6em;
  width: 16em;
  border-radius: 8px 0 0;
}
.sale {
  margin-left: 23em;
}
.cat_list li {
  border: 1px solid rgba(229, 231, 235, 1);
  height: 3em;
  width: 16rem;
  font-size: 15px;
}
.hero_img img {
  border-radius: 6px;
  width: 100%;
  height: 97%;
}
.text_hero {
  color: rgba(57, 36, 95, 1);
}
.text_hero p {
  color: rgba(22, 101, 52, 1);
  font-weight: 500;
  font-size: 13px;
  width: 10em;
  height: 1.8em;
  padding-left: 10px;
  background: linear-gradient(
    to right,
    rgba(22, 163, 74, 0.5),
    rgba(34, 197, 94, 0)
  );
  border-radius: 5px;
}
.text_hero h1 {
  font-weight: bold;
}

.text_hero h6 {
  color: var(--text-color-1);
  font-weight: 400;
}
.shop_nowbtn {
  color: var(--base-color);
  background-color: var(--highlight-color);
  border: none;
  border-radius: 8px;
  width: 8em;
  height: 3em;
}
.mini_text {
  font-size: 11px;
  color: var(--text-color-1);
  font-weight: 400;
}
.new_price {
  color: red;
  font-weight: 700;
}
.old_price {
  color: var(--text-color-1);
  font-size: 17px;
}
.dropdown_arrow {
  margin-left: 6em;
}
.dropdown-toggle::after {
  display: none !important;
}
/* Features */
.features span {
  color: var(--text-color-2);
  font-weight: 400;
  font-size: 13px;
}
