/*Promo Bar*/
.promo_bar {
  background-color: var(--highlight-color);
  color: white;
  height: 26px;
  font-size: 14px;
}
.time_left p {
  font-weight: 700;
}
.time_left span {
  font-size: 10px;
  margin: 5px;
}
/*Info bar*/
.info_bar {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-2);
  border-bottom: 1px solid rgba(229, 231, 235, 1);
}
.info_bar a {
  color: var(--text-color-2);
}
.info_bar select {
  color: var(--text-color-2);
}

/*Nav Bar*/
.logo {
  width: 5%;
}

.delivery,
.account {
  font-size: 13px;
}
.sign_in {
  font-size: 11px;
}
.delivery img,
.sign_in img {
  width: 30px;
}

/*Search bar*/
.search_bar {
  flex: 1;
}

/*Side bar*/
.dropdown_container {
  width: 283px;
}
.dropdown_container a,
.home_bar a {
  color: var(--text-color-1);
  font-weight: 600;
}
.dropdown {
  display: flex;
  height: 40px;
  font-size: 15px;

  border: 1px solid #dddddd;
  border-radius: 8px 8px 0px 0px;
}
.dropdown-menu {
  width: 268px;
  border-radius: 0px;
  border: 1px solid #dddddd;
}
.dropdown-menu li {
  border: 1px solid #dddddd94;
  padding: 8px;
  font-weight: 400;
}
.sale a {
  margin-left: 22em;
}
